body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
}

.row {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#hero {
    background-image: url(img/img4.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 200px;
    height: 250px;
    background-color: #f5f5f5;
    background-image: url(img/img5.webp);
    color: rgb(27, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    transition: transform 1.0s ease, box-shadow 0.9s ease;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 19px 20px rgba(0, 0, 0, 0.1);
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    transition: transform 1.0s ease, box-shadow 0.9s ease;
}

.box:hover {
    transform: scale(1.02);
    box-shadow: 0 19px 20px rgba(0, 0, 0, 0.25);
}

.text {
    width: 45%; /* Adjusted width */
    color: #000;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
}

.image {
    width: 45%; /* Adjusted width */
    height: auto;
    background-image: url(img/img5.webp);
    background-size: cover;
    border-radius: 8px;
    border: 2px solid black;
}

/* Responsive styling */
@media (max-width: 768px) {
    .card-container, .box {
        flex-direction: column;
    }

    .card, .text, .image {
        width: 100%;
        margin-bottom: 10px;
    }

    #hero {
        height: 300px;
        padding: 10px;
    }

    .text {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .card, .text, .image {
        width: 100%;
    }

    #hero {
        height: 200px;
    }

    .text {
        font-size: 12px;
    }
}
